#resourceDisplay {
   position: absolute;
   top: 675px;
   left: 10px;
   width: 150px;
   height: 200px;
   z-index: 99;

   #body {
      .outlined;
      position: absolute;
      top: 68px;
      left: 10px;
      width: 130px;
      font-family: @baseFontFamily;
      color: #fff;

      .number {
         text-align: right;
      }
   }
}