#gameState {
   position: absolute;
   top: 200px;
   right: 5px;
   width: 140px;

   .flexContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 140px;
      padding-bottom: 4px;
      .outlined;
      font-family: @baseFontFamily;
      font-size: 15px;
      color: #fff;

      .gameNotStarted {
         color: #ddbb44;
      }
      .gameInProgress {
         color: #3baf37;
      }
      .gameEnded {
         color: #922723;
      }
   }

   .button {
      transition: filter 0.50s;
      &:not(.disabled) {
        .handCursor;
      }
      &.disabled {
         .arrowCursor;
      }
      &:hover:not(.disabled) {
         filter: brightness(1.4);
      }
   }
}

#tdAlerts {
   position: absolute;
   top: 20px;
   left: 0px;
   width: 100%;
   z-index: -1;

   .alert {
      .outlined;
      font-family: 'groboldregular';
      font-weight: normal;
      font-size: 34px;
      color: #ff5e00;
      text-align: center;
      width: 100%;
   }

   #playerAlert {
      font-size: 28px;
   }

   #startGame {
      text-align: center;
      padding-bottom: 10px;

      button {
         display: inline-block;
      }

      button.hidden {
         display: none;
      }
   }
}
