#weather {
   .category {
      opacity: 1.0;

      img {
         box-sizing: border-box;
         height: 32px;
         border: solid 3px rgb(0, 0, 0);
      }
   }
   .category.air img {
      border-color: rgb(243, 234, 180);
   }
   .category.boss img {
      border-color: rgb(63, 60, 236);
   }
   .category.critters img {
      border-color: rgb(104, 67, 37);
   }
   .category.invisible img {
      border-color: rgb(117, 0, 98);
   }
   .category.healing img {
      border-color: rgb(21, 192, 72);
   }
   .category.summon img {
      border-color: rgb(21, 181, 192);
   }
   .category.purge img {
      border-color: rgb(224, 102, 32);
   }
}

#gameState {
   position: absolute;
   top: 200px;
   right: 5px;
   width: 140px;

   .flexContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 140px;
      padding-bottom: 4px;
      .outlined;
      font-family: @baseFontFamily;
      font-size: 15px;
      color: #fff;

      .gameNotStarted {
         color: #ddbb44;
      }
      .gameInProgress {
         color: #3baf37;
      }
      .gameEnded {
         color: #922723;
      }
   }
}