.stonehearthMenu {
   margin: inherit;
   margin-left: auto;
   padding-left: inherit;
   padding-right: 400px;

   .menuItem {
      .icon {
         height: 74px;
      }
   }

   .unused {
      -webkit-filter: ~"saturate(0%)";

      &:hover {
         -webkit-filter: ~"saturate(50%)";
      }
   }
}

.towerCost {
   position: absolute;
   top: 10px;
   right: 10px;
   text-align: right;
}

.costValue {
   font-size: 16px;
   color: @goldColor;
}

.inlineImg {
   height: 20px;
   //padding: 2px;
   vertical-align: middle;
   margin-top: -8px;
}

.inlineImg.buff {
   height: 30px;
   margin-top: -12px;
}

.inlineImg.gold {
   content: url(/tower_defense/ui/game/start_menu/images/gold_10.png);
}
.inlineImg.wood {
   content: url(/tower_defense/ui/game/start_menu/images/wood.png);
}

#weather {
   .weatherDay img {
      box-sizing: border-box;
      height: 32px;
   }
   .weatherDay.hasCategory {
      opacity: 1.0;  
   }
}

.category {
   border: solid 3px rgb(0, 0, 0);
}
.category.air {
   border-color: rgb(243, 234, 180);
}
.category.boss {
   border-color: rgb(63, 60, 236);
}
.category.critters {
   border-color: rgb(104, 67, 37);
}
.category.invisible {
   border-color: rgb(117, 0, 98);
}
.category.healing {
   border-color: rgb(21, 192, 72);
}
.category.summon {
   border-color: rgb(21, 181, 192);
}
.category.purge {
   border-color: rgb(224, 102, 32);
}
.category.armored {
   border-color: rgb(214, 194, 14);
}
.category.magic_armored {
   border-color: rgb(224, 32, 208);
}

.monster {

   .monsterPortrait {
      width: 100px;

      img {
         width: 100px;
      }
   }

   .monsterContent {
      display: inline-block;
      padding: 0px 5px 5px 5px;

      .monsterName {
         padding-bottom: 5px;
         font-size: 16px;
         font-family: 'groboldregular';
         color: @controlLightFontColor;
      }

      .monsterDescription {
         padding-bottom: 5px;
      }

      .monsterDamage {
         font-style: italic;
         font-weight: 800;
         color: rosybrown;
      }
   }
}

.requiredLevel {
   font-family: 'groboldregular';
   color: whitesmoke;
}

.requiredKingdom {
   font-size: 16px;
   font-family: 'groboldregular';
   color: rosybrown;
}

.weaponDescription {
   font-size: 13px;
}

.weaponDetails {
   padding-top: 4px;
   border-spacing: 0 2px;
   font-size: 12px;

   .titleCol {
      width: 1%;
   }
   .valueCol {
      width: auto;
   }

   tr {
      .inlineImg {
         height: 15px;
         margin-top: -6px;
      }
      .inlineImg.buff {
         height: 22px;
         margin-bottom: -2px;
      }
   }
}

.weaponModified {
   background-color: rgb(200, 255, 100);
   color: black;
   padding: 0px 2px;
}

.weaponUpgrade {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.entryTitle {
   font-size: 14px;
   font-family: 'groboldregular';
   color: lightslategray;
   white-space: nowrap;
}

.entryTitle.indented {
   padding-left: 18px;
}

.entryValue {
   padding-left: 18px;
   color: whitesmoke;
}

.appliedByTowers {
   padding-top: 20px;

   .towerList {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;

      .titleRow {
         font-size: 14px;
         font-family: 'groboldregular';
         color: @controlLightFontColor;
      }

      .towerRow {
         font-size: 13px;
      }
      .towerRow:nth-child(even) {
         background: rgba(96,96,96,0.2);
      }

      td {
         padding: 5px 5px;
      }
   }
}

.buildTowersTable {
   tr {
      td:first-child {
         text-align: left;
      }
      td:last-child {
         padding-left: 60px;
         text-align: right;
      }
   }
}

.damageType-physical {
   color: burlywood;
}
.damageType-magical {
   color: dodgerblue;
}
.damageType-pure {
   color: darkorchid;
}

.passthroughAttack {
   font-size: 13px;
   font-style: italic;
   font-weight: 800;
}

.inlineImg.physical {
   content: url(/tower_defense/ui/game/start_menu/images/damageTypePhysical.png);
}
.inlineImg.magical {
   content: url(/tower_defense/ui/game/start_menu/images/damageTypeMagical.png);
}
.inlineImg.pure {
   content: url(/tower_defense/ui/game/start_menu/images/damageTypePure.png);
}

.inlineImg.circle {
   content: url(/tower_defense/ui/game/start_menu/images/target_circle.png);
}
.inlineImg.square {
   content: url(/tower_defense/ui/game/start_menu/images/target_square.png);
}
.inlineImg.rect {
   content: url(/tower_defense/ui/game/start_menu/images/target_rect.png);
}

.inlineImg.ground {
   content: url(/tower_defense/ui/game/start_menu/images/ground.png);
}
.inlineImg.air {
   content: url(/tower_defense/ui/game/start_menu/images/air.png);
}
.inlineImg.reveals {
   content: url(/tower_defense/ui/game/start_menu/images/reveals_invis.png);
}
.inlineImg.sees {
   content: url(/tower_defense/ui/game/start_menu/images/sees_invis.png);
}
