.stonehearthMenu {
   margin: inherit;
   margin-left: auto;
   padding-left: inherit;
   padding-right: 400px;

   .menuItem {
      .icon {
         height: 74px;
      }
   }

   .unused {
      -webkit-filter: ~"saturate(0%)";

      &:hover {
         -webkit-filter: ~"saturate(50%)";
      }
   }
}

.towerCost {
   position: absolute;
   top: 10px;
   right: 10px;
   text-align: right;
}

.costValue {
   font-size: 16px;
   color: @goldColor;
}

.inlineImg {
   height: 20px;
   //padding: 2px;
   vertical-align: middle;
   margin-top: -8px;
}

.inlineImg.buff {
   height: 30px;
   margin-top: -12px;
}

.inlineImg.gold {
   content: url(/tower_defense/ui/game/start_menu/images/gold_10.png);
}
.inlineImg.wood {
   content: url(/tower_defense/ui/game/start_menu/images/wood.png);
}

.requiredLevel {
   font-family: 'groboldregular';
   color: whitesmoke;
}

.requiredKingdom {
   font-size: 16px;
   font-family: 'groboldregular';
   color: rosybrown;
}

.weaponDetails {
   padding-top: 10px;
   border-spacing: 0 6px;

   .titleCol {
      width: 1%;
   }
   .valueCol {
      width: auto;
   }

   tr {
      .inlineImg.buff {
         margin-bottom: -5px;
      }
   }
}

.weaponUpgrade {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.entryTitle {
   font-size: 16px;
   font-family: 'groboldregular';
   color: lightslategray;
   white-space: nowrap;
}

.entryTitle.indented {
   padding-left: 18px;
}

.entryValue {
   padding-left: 18px;
   color: whitesmoke;
}

.damageType-physical {
   color: burlywood;
}
.damageType-magical {
   color: dodgerblue;
}
.damageType-pure {
   color: darkorchid;
}

.passthroughAttack {
   font-style: italic;
   font-weight: 800;
}

.inlineImg.physical {
   content: url(/tower_defense/ui/game/start_menu/images/damageTypePhysical.png);
}
.inlineImg.magical {
   content: url(/tower_defense/ui/game/start_menu/images/damageTypeMagical.png);
}
.inlineImg.pure {
   content: url(/tower_defense/ui/game/start_menu/images/damageTypePure.png);
}

.inlineImg.circle {
   content: url(/tower_defense/ui/game/start_menu/images/target_circle.png);
}
.inlineImg.square {
   content: url(/tower_defense/ui/game/start_menu/images/target_square.png);
}
.inlineImg.rect {
   content: url(/tower_defense/ui/game/start_menu/images/target_rect.png);
}

.inlineImg.ground {
   content: url(/tower_defense/ui/game/start_menu/images/ground.png);
}
.inlineImg.air {
   content: url(/tower_defense/ui/game/start_menu/images/air.png);
}
.inlineImg.reveals {
   content: url(/tower_defense/ui/game/start_menu/images/reveals_invis.png);
}
.inlineImg.sees {
   content: url(/tower_defense/ui/game/start_menu/images/sees_invis.png);
}
